body {
    margin: 0;
    background: #D5E1EF;
    font-family: outfit, sans-serif;

}

p {
    font-size: 15px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.row {
    height: 100vh;
}

.card {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    height: 480px;
    width: 300px;
}

.card .qr-code {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: #2B7DFA;
}

.head-1 {
    width: 300px;
    font-size: 26px;
    font-weight: 700;
}